@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 1200) { @content; }
  }
  @else if $point == baby-bear {
    //only used for explicity excluding things from the small screen
    //since the styles should be mostly small-screen-first
    @media (max-width: 959px)  { @content; }
  }
  @else if $point == tiny-bear {
    @media (max-width: 599px)  { @content; }
  }
}

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}