---
layout            : parallax
navbar            : true
pagename          : dashboards
parallax_sections :
  - id    : welcome
    class : section-large
---

<section id="welcome" class="section-welcome scroll-background-image section-large">
    <div class="content">
        <h1>Dashboards</h1>
        <p class="divider"><span></span></p>
        <h2>At your fingertips</h2>
        <p>Need to show a participant a lot of data? Like a lot lot of data? We have just the answer for you: the dashboard. We can organize your information into an at-a-glance, logical interface that is both easy on the eye and totally cool. Our information architects know the best way to organize everything. And our team of graphic designers know how to polish 'em to make them super shiny.</p>
        <div class="scroll-indicator">
            <span>scroll</span>
            <a href="#stats" class="arrow click-scroll">
                <svg viewBox="0 0 100 100" class="icon">
                    <use xlink:href="svg/defs.svg#icon-down-arrow"></use>
                </svg>
            </a>
            <span>please</span>
        </div>
    </div>
</section><!-- /.welcome -->
<section id="stats" class="stats scroll-watch">
    <a name="stats"></a>
    <div class="content">
        <h2>So Many Spinny Things</h2>
        <div class="grid-wrapper">
            {% for stat in site.data.stats.dashboards %}
                {% include stat.html %}
            {% endfor %}
        </div>
    </div>
</section><!-- /.stats -->
<section id="examples" class="section-examples articles">
    {% for dashboard in site.dashboards %}
        {% include dashboard.html dashboardId=forloop.index %}
    {% endfor %}
</section><!-- /.dashboards -->