---
layout            : parallax
navbar            : true
pagename          : dataviz
parallax_sections :
  - id    : welcome
    class : section-large
---

<section id="welcome" class="section-welcome scroll-background-image section-large">
    <div class="content">
        <h1>Data Visualization</h1>
        <p class="divider"><span></span></p>
        <h2>Seeing is believing</h2>
        <p>There's nothing more boring than a table full of numbers. It's hard to look at, hard to read, and not remotely enticing upon return visits. Thankfully, there's an answer: creative data visualization. TSG Creative are up on all the latest infographic trends. Think speedometers are all we can do? Think again.</p>
        <div class="scroll-indicator">
            <span>scroll</span>
            <a href="#stats" class="arrow click-scroll">
                <svg viewBox="0 0 100 100" class="icon">
                    <use xlink:href="svg/defs.svg#icon-down-arrow"></use>
                </svg>
            </a>
            <span>please</span>
        </div>
    </div>
</section><!-- /.welcome -->
<section id="stats" class="stats scroll-watch">
    <a name="stats"></a>
    <div class="content">
        <h2>Stats, Stats, and More Stats</h2>
        <div class="grid-wrapper">
            {% for stat in site.data.stats.dataviz %}
                {% include stat.html %}
            {% endfor %}
        </div>
    </div>
</section><!-- /.stats -->
<section id="examples" class="section-examples">
                <div class="example-module">
                    <a name="dials-and-knobs"></a>
                    <article>
                        <img src="img/dataviz/dial-header.png" class="example-logo">
                        <h3>Dials & Knobs</h3>
                        <p>There are plenty of ways to show progress. Sure, the classic "progress bar" will never go out of style. But nowadays, the progress dial is gaining traction as everybody's favorite way to express percentages of a whole. Want to show how close a participant is to goal? Try a couple cool dials. They're easy to read, easy to follow, and best of all - animated!</p>
                    </article>
                    <div class="screenshots content">
                        <div class="grid-wrapper grid-pad-24">
                            <div class="grid-cell-4">
                                <img src="img/dataviz/dial1.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-4">
                                <img src="img/dataviz/dial2.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-4">
                                <img src="img/dataviz/dial3.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-4">
                                <img src="img/dataviz/dial4.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-4">
                                <img src="img/dataviz/dial5.png" class="fixed-width-175">
                            </div>
                        </div>
                        <div class="grid-wrapper grid-pad-30">
                            <img src="img/dataviz/dial-screenshot1.jpg" class="grid-cell-10">
                            <img src="img/dataviz/dial-screenshot2.jpg" class="grid-cell-10">
                        </div>
                        <div class="grid-wrapper grid-pad-30">
                            <img src="img/dataviz/dial-screenshot3.jpg" class="grid-cell-10">
                            <img src="img/dataviz/dial-screenshot4.jpg" class="grid-cell-10">
                        </div>
                    </div>
                </div>
                <div class="example-module">
                    <a name="bars-and-meters"></a>
                    <article>
                        <img src="img/dataviz/bar-header.png" class="example-logo">
                        <h3>Bars & Meters</h3>
                        <p>The old-fashioned square progress bar is becoming the modern "flat design" progress bar. We can do just about anything to a progress bar, from rounded edges to chrome indicators to 3D simulation to… well, the sky's the limit. Give us your best idea and we'll do our darnest to make it come alive.</p>
                    </article>
                    <div class="screenshots content">
                        <div class="grid-wrapper grid-pad-30">
                            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                                <img src="img/dataviz/bar1.png">
                            </div>
                            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                                <img src="img/dataviz/bar2.png">
                            </div>
                            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                                <img src="img/dataviz/bar3.png">
                            </div>
                            <div class="grid-cell-2 bottom-aligned fixed-height-170">
                                <img src="img/dataviz/bar4.png">
                            </div>
                        </div>
                        <div class="grid-wrapper grid-pad-30">
                            <img src="img/dataviz/bar-screenshot1.jpg" class="grid-cell-10">
                            <img src="img/dataviz/bar-screenshot2.jpg" class="grid-cell-10">
                        </div>
                    </div>
                </div>
                <div class="example-module">
                    <a name="pins-and-needles"></a>
                    <article>
                        <img src="img/dataviz/pin-header.png" class="example-logo">
                        <h3>Pins & Needles</h3>
                        <p>You've heard the old phrase, right? Well, you'll be on pins and needles when you see how cool we can make a map pin look. We can use them in progress indicators, heat maps, area maps, and a hundred other applications. And we can drop 'em, too.</p>
                    </article>
                    <div class="screenshots content">
                        <div class="grid-wrapper grid-pad-90">
                            <div class="grid-cell-5">
                                <img src="img/dataviz/pin1.png" class="fixed-height-170">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/pin2.png" class="fixed-height-170">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/pin3.png" class="fixed-height-170">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/pin4.png" class="fixed-height-170">
                            </div>
                        </div>
                        <div class="grid-wrapper grid-pad-30">
                            <img src="img/dataviz/pin-screenshot1.jpg" class="grid-cell-10">
                            <img src="img/dataviz/pin-screenshot2.jpg" class="grid-cell-10">
                        </div>
                    </div>
                </div>
                <div class="example-module gauge-module">
                    <a name="gauges"></a>
                    <article>
                        <img src="img/dataviz/gauge-header.png" class="example-logo">
                        <h3>Gauges</h3>
                        <p>The classic automotive-styled gauge is something we know like the back of our hands. We can do a trendy flat-style, ultra-modern super-chrome glossy, or brand one specifically for your auto client. A great way to show progress or points earned out of a total.</p>
                    </article>
                    <div class="screenshots content">
                        <div class="grid-wrapper grid-pad-90">
                            <div class="grid-cell-5">
                                <img src="img/dataviz/gauge1.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/gauge2.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/gauge3.png" class="fixed-width-175">
                            </div>
                            <div class="grid-cell-5">
                                <img src="img/dataviz/gauge4.png" class="fixed-width-175">
                            </div>
                        </div>
                        <div class="grid-wrapper grid-pad-30">
                            <img src="img/dataviz/gauge-screenshot1.jpg" class="grid-cell-10">
                            <img src="img/dataviz/gauge-screenshot2.jpg" class="grid-cell-10">
                        </div>
                    </div>
                </div>
</section><!-- /.section-examples -->