---
layout            : parallax
navbar            : true
pagename          : games
parallax_sections :
  - id    : welcome
    class : section-large
---

<section id="welcome" class="section-welcome scroll-background-image section-large">
    <div class="content">
        <h1>Games</h1>
        <p class="divider"><span></span></p>
        <h2>Make it fun and they'll engage</h2>
        <p>Gamification is one of BIW's key strategies. We've been working hard to come up with fun, quick, and easy to play HTML 5 games that work on all devices. See what you think. Add 'em to a sale.</p>
        <div class="scroll-indicator">
            <span>scroll</span>
            <a href="#stats" class="arrow click-scroll">
                <svg viewBox="0 0 100 100" class="icon">
                    <use xlink:href="svg/defs.svg#icon-down-arrow"></use>
                </svg>
            </a>
            <span>please</span>
        </div>
    </div>
</section><!-- /.welcome -->
<section id="stats" class="stats scroll-watch">
    <a name="stats"></a>
    <div class="content">
        <h2>Game On</h2>
        <div class="grid-wrapper">
            {% for stat in site.data.stats.games %}
                {% include stat.html %}
            {% endfor %}
        </div>
    </div>
</section><!-- /.stats -->
<section id="examples" class="section-examples">
    {% assign games = site.games | sort: 'order_value' %}
    {% for game in games %}
        {% include game.html gameId=forloop.index %}
    {% endfor %}
</section><!-- /.section-examples -->