<div class="example-module">
    <a name="{{ dataviz.url_hash }}"></a>
    <article>
        <img src="img/dataviz/{{ dataviz.img_filename }}" class="example-logo">
        <h3>12{{ dataviz.title }}</h3>
        <p>{{ dataviz.content }}</p>
    </article>
    <div class="screenshots content">
        <div class="grid-wrapper {{ dataviz.grid_size_class }}">
            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                <img src="img/dataviz/bar1.png">
            </div>
            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                <img src="img/dataviz/bar2.png">
            </div>
            <div class="grid-cell-6 bottom-aligned fixed-height-170">
                <img src="img/dataviz/bar3.png">
            </div>
            <div class="grid-cell-2 bottom-aligned fixed-height-170">
                <img src="img/dataviz/bar4.png">
            </div>
        </div>
        <div class="grid-wrapper grid-pad-30">
            <img src="img/dataviz/bar-screenshot1.jpg" class="grid-cell-10">
            <img src="img/dataviz/bar-screenshot2.jpg" class="grid-cell-10">
        </div>
    </div>
</div>
