            <section id="footer" class="section-footer">
                <div class="content">
                    <h2 class="scroll-watch">Contact Us Anytime &ndash; We'll Be Here<span class="animated-ellipsis-dot animated-ellipsis-dot-1">.</span><span class="animated-ellipsis-dot animated-ellipsis-dot-2">.</span><span class="animated-ellipsis-dot animated-ellipsis-dot-3">.</span>  </h2>
                    <div class="grid-wrapper grid-pad-30">
                        <div class="grid-cell-6 footer-item scroll-watch">
                            <div>
                                <svg viewBox="0 0 100 100" class="icon">
                                    <use xlink:href="svg/defs.svg#icon-email"></use>
                                </svg>
                            </div>
                            <h4>Email</h4>
                            <p>tsgcreativeteam@biworldwide.com</p>
                        </div>
                        <div class="grid-cell-1">&nbsp;</div>
                        <div class="grid-cell-6 footer-item scroll-watch">
                            <div>
                                <svg viewBox="0 0 100 100" class="icon">
                                    <use xlink:href="svg/defs.svg#icon-phone"></use>
                                </svg>
                            </div>
                            <h4>Phone</h4>
                            <p>952.844.4364</p>
                        </div>
                        <div class="grid-cell-1">&nbsp;</div>
                        <div class="grid-cell-6 footer-item scroll-watch">
                            <div>
                                <svg viewBox="0 0 100 100" class="icon">
                                    <use xlink:href="svg/defs.svg#icon-pin-1"></use>
                                </svg>
                            </div>
                            <h4>Location</h4>
                            <p>Bldg 2, Edina</p>
                        </div>
                    </div>
                </div>
            </section><!-- /.footer -->
