.parallax-layer-background .section-we-help{
    background: url('../img/what-we-do.png') 50% 0 no-repeat;
    height: 1600px;
}
.section-we-help{
    color: white;
    padding-top: 80px;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    h2{
        font-family: 'NovitoNova', 'Lato', arial;
        text-transform: uppercase;
        position: relative;
        top: -200px;
        transition: .5s all cubic-bezier(0.25,0.1,0.25,1);
        font-size: 9em;
        &.visible{
            top: 0;
        }
    }
    [class*='grid-cell-'] {
        margin: 2em 0;
    }
    .badge-wrapper{
        position: relative;
        height: 200px;
        transition: .5s all cubic-bezier(0.25,0.1,0.25,1);
        &.left{
            left: -2000px;
            transform: rotate( 180deg );
        }
        &.right{
            right: -2000px;
            transform: rotate( 180deg );
        }
        &.visible.left{
            left: 0;
            transform: rotate( 0deg );
        }
        &.visible.right{
            right: 0;
            transform: rotate( 0deg );
        }
    }
    .badge-action{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-content-top;
    }
    .badge-label{
        position: relative;
        margin: 0 auto;
        font-size: 1.5em;
        font-weight: $font-weight-thin;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
    .badge-image {
        display: block;
        border-radius: 100%;
        height: 150px;
        width: 150px;
        margin: 0 auto 10px;
    }
    .badge-apps{
        .badge-image{
            background: $teal url('../img/sprite/badge-apps-lg.png') 50% 50% no-repeat;
        }
        a:hover ~ .badge-label{
            background-image: linear-gradient( to bottom, transparent 95%, $teal 95% );
        }
    }
    .badge-emails{
        .badge-image{
            background: $yellow url('../img/sprite/badge-emails-lg.png') 50% 50% no-repeat;
        }
        a:hover ~ .badge-label{
            background-image: linear-gradient( to bottom, transparent 95%, $yellow 95% );
        }
    }
    .badge-games{
        .badge-image{
            background: $slate url('../img/sprite/badge-games-lg.png') 50% 50% no-repeat;
        }
        a:hover ~ .badge-label{
            background-image: linear-gradient( to bottom, transparent 95%, $slate 95% );
        }
    }
    .badge-misc{
        .badge-image{
            background: $peach url('../img/sprite/badge-misc-lg.png') 50% 50% no-repeat;
        }
        a:hover ~ .badge-label{
            background-image: linear-gradient( to bottom, transparent 95%, $peach 95% );
        }
    }
    .subpage-header{
        background: rgba( 0, 0, 0, .8 );
        top: -50px;
        transition: .5s all cubic-bezier(0.25,0.1,0.25,1);
        &.visible{
            top: 0;
        }
    }
    .nav-we-help {
        position: relative;
        text-align: right;
        a{
            display: inline-block;
            margin: .5em 0;
            line-height: 2em;
            transition: all .1s linear;
        }
        .badges-home{
            position: absolute;
            left: 0;
            &:hover{
                background-image: linear-gradient( to bottom, transparent 95%, white 95% );
            }
            svg{
                top: .5em;  // overriding the .subpage-header default
            }
        }
        .badge-apps {
            background: rgba( $teal, .4 ) url('../img/sprite/badge-apps-sm.png') 10px 50% no-repeat;
            box-shadow: inset 0 0 0 2px $teal;
            &:hover,
            &.active{
                background-color: $teal;
            }
        }
        .badge-emails {
            background: rgba( $yellow, .4 ) url('../img/sprite/badge-emails-sm.png') 10px 50% no-repeat;
            box-shadow: inset 0 0 0 2px $yellow;
            padding-left: 2.7em;
            &:hover,
            &.active{
                background-color: $yellow;
            }
        }
        .badge-games {
            background: rgba( $slate, .4 ) url('../img/sprite/badge-games-sm.png') 10px 50% no-repeat;
            box-shadow: inset 0 0 0 2px $slate;
            padding-left: 2.7em;
            &:hover,
            &.active{
                background-color: $slate;
            }
        }
        .badge-misc {
            background: rgba( $peach, .4 ) url('../img/sprite/badge-misc-sm.png') 10px 50% no-repeat;
            box-shadow: inset 0 0 0 2px $peach;
            padding-left: 2.8em;
            &:hover,
            &.active{
                background-color: $peach;
            }
        }
    }
}
.badge-detail{
    opacity: 0;
    transition: .5s opacity cubic-bezier(0.25,0.1,0.25,1);
    &.visible{
        display: block;
        opacity: 1;
    }
    .flexslider {
        height: 545px;
        .flex-viewport{
            height: 470px;
        }
        .slides .content{
            padding: 0;
        }
        .flex-direction-nav a{
            top: 30%;
        }
    }
    h2{
        position: static;
        font-family: 'Lato', arial;
        font-size: 80px;
        font-weight: $font-weight-thin;
        text-align: right;
    }
    h3{
        font-family: 'Lato', arial;
        font-size: 48px;
        font-weight: $font-weight-black;
        span{
            font-size: 72px;
            font-weight: $font-weight-thin;
        }
        small{
            font-size: 30px;
            font-weight: $font-weight-light;
            font-style: italic;
            text-transform: initial;
        }
    }
    .divider{
        margin: 2em 0 0;
        span{
            float: right;
        }
    }
}