// colors
$teal: #1ea78d;
$yellow: #e4c755;
$slate: #5b7287;
$peach: #ca7b44;
$darkgrey: #303030;

$zindex-nav: 6000;
$zindex-tooltip: 7000;
$zindex-overlay-bg: 5000;
$zindex-overlay: 6000;
$zindex-content-top: 3000;

$loading-indicator-color: goldenrod;
$loading-indicator-size: 30px;
$loading-indicator-speed: 200ms;

$ellipsis-anim-duration : 6s;